.App {
  font-family: "San Francisco" sans-serif;
}

.name {
  text-align: center;
}

.product-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
  margin: 30px;
}

.product-wrapper {
  width: 573px;
  background: #f8fafc;
  border-radius: 25px;
  padding-bottom: 37px;
  padding-top: 54px;
}

.top {
  display: flex;
  justify-content: space-between;
  margin: 0 30px 25px 30px;
}

.top__label {
  height: fit-content;
  padding: 5px 20px 4px 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  background: linear-gradient(261.65deg, #efbb37 -3.95%, #cf9e1f 109.44%);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  margin-top: 1px;
}

.top__weigher,
.top__weigher-click {
  position: relative;
  height: fit-content;
  width: 16px;
  height: 16px;
  padding: 15px;
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  margin-top: -10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.top__weigher {
  z-index: 5;
}

.top__weigher-click {
  margin-left: -117px;
  z-index: 1;
}

.top__weigher:hover {
  box-shadow: 0px 0px 15px rgba(37, 75, 180, 0.1);
}

.top__weigher:active {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  opacity: 0;
}

.top__img {
  width: 256px;
  height: 261px;
  text-align: center;
  background: #fff;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}

.top__img-hover {
  position: absolute;
  z-index: 2;
  left: 0;
  opacity: 0;
  transition: 0.3s all ease-in-out;
}

.top__img:hover .top__img-hover {
  opacity: 1;
}

.center {
  display: flex;
  justify-content: space-between;
  margin: 0 45px 15px 45px;
}

.name {
  margin: 0 44px 20px 44px;
}

.name__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  color: #2c2c2c;
}

.name__description {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.top {
  display: flex;
  justify-content: space-between;
  margin: 0 45px 15px 45px;
}

.color-wrapper {
  width: 258px;
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
}

.color-wrapper:hover .color__img {
  transform: rotate(180deg);
}

.color {
  overflow: hidden;
  background: #ffffff;
  margin: 0;
  position: absolute;
  width: 100%;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #2c2c2c;
  border-radius: 30px;
}
.color__hidden {
  display: none;
  overflow-y: scroll;
  height: 85px;
}

.color__visible,
.color__text {
  margin: 0;
  padding: 8px 20px;
}

.color__text {
  margin-right: 10px;
}

.color__img {
  position: absolute;
  right: 20px;
  top: 11px;
  z-index: 5;
  width: 11px;
  height: 7px;
  margin: auto 0;
  transition: all 0.2s ease-in-out;
}

.color:hover {
  border-radius: 15px;
}

.color:hover .color__img:hover {
  transform: translateX(10px);
}

.color:hover .color__hidden {
  display: block;
}

.color__hidden:hover {
  border-radius: 0px 10px 10px 0px;
}

.color__text:hover {
  background: #f3f8fc;
  border-radius: 0px 10px 10px 0px;
}

.sum-price {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.catalogue__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-left: 12px;
}

.capacity-wrapper {
  margin-bottom: 26px;
}

.counter {
  width: 92px;
  height: 39px;
  margin-left: 62px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: #e2e9f0;
  border-radius: 30px;
  transition: 0.3s all ease-in-out;
}

.counter:hover {
  background: #d8e3ee;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.counter:hover .counter__minus-btn,
.counter:hover .counter__plus-btn {
  cursor: pointer;
}

.counter__minus-img {
  display: block;
  margin: 0 auto;
}

.counter__plus-btn,
.counter__minus-btn {
  width: 20px;
  height: 20px;
  border: 0;
  padding: 0;
  background-color: transparent;
  outline: none;
}

.counter__text {
  margin: 0;
  font-family: "Roboto";
  font-size: 20px;
  line-height: 23px;
}

.bottom {
  display: flex;
  gap: 31px;
}

.bottom__btn {
  background: linear-gradient(261.65deg, #efbb37 -3.95%, #cf9e1f 109.44%);
  border-radius: 30px;
  padding: 9px 115px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  outline: none;
  border: none;
  transition: all 0.3s ease-in-out;
}

.bottom__btn:hover {
  background: linear-gradient(261.65deg, #e9b32c -3.95%, #bf911a 109.44%);
  cursor: pointer;
}

.bottom__btn:active {
  background: linear-gradient(261.65deg, #ffd773 -3.95%, #e2b645 109.44%);
}

.radio {
  margin-left: 68px;
  margin-bottom: 11px;
  display: flex;
  align-items: center;
  gap: 13px;
  width: fit-content;
  cursor: pointer;
}

.radio-input {
  width: 23px;
  height: 23px;
  background: #dedede;
  border-radius: 5px;
}

.radio-input {
  cursor: pointer;
}

.radio-input-checked {
  width: 17px;
  height: 17px;
  background: linear-gradient(261.65deg, #efbb37 -3.95%, #cf9e1f 109.44%);
  border-radius: 5px;
  display: block;
  margin: 3px auto;
}

.radio-capacity {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
/* Loader start */
.loader {
  text-align: center;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #efbb37;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Loader end */

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  height: 40px; /* высота для горизонтального скролла */
  width: 3px;
  background-color: #ffffff;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #e0e9f2;
  border-radius: 15px;
  box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #bbd0e6;
}

/* Стрелки */

::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment {
  display: none;
}
